<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetAmigos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<!--Encabezado del sitio web-->
    <section class="container-mt-4">
        <header>
            <h5>Bienvenidos a nuestra pagina ¿Quieres saber quienes somos?</h5>
            <a href="{% url 'QuienesSomos' %}">Presiona aquí para conocernos</a> 
            <a href="{% url 'ayuda' %}">Sección de ayuda</a>  
            <a href="{% url 'informacion' %}">Más de información</a>
        </header>
    </section>

<!--Navbar de la pagina web-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a id="logo" class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/Logo.png' %}" width="45px" height="100px" alt="Logo"> Pet Amigos
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="¿Qué productos estés buscando?" aria-label="Search">
                    <button id="btnsearch" class="btn btn-outline-dark" type="submit">
                        <img src="{% static 'img/search.svg' %}" alt="buscar">
                    </button>
                </form>

                <li id="moon-dark" class="nav-item">
                    <a id="darkModeToggle" class="nav-link active" href="javascript:void(0)">
                        <img id="darkModeIcon" src="{% static 'img/moon-solid.svg' %}" alt="Modo Oscuro" style="width: 24px; height: 24px;">
                        <span id="modeToggleText">Modo Oscuro</span>
                    </a>
                </li>
                

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="sesion" class="nav-link active" aria-current="page" href="{% url 'inicioDeSesion' %}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'favoritos' %}">
                            <img src="{% static 'img/heart.svg' %}" alt="favoritos">
                        </a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link active" aria-current="page" href="{% url 'ver_carrito' %}">
                            <img src="{% static 'img/shopping-cart.svg' %}" alt="compras" style="width: 24px; height: 24px;">
                            <span id="contadorCarrito" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger badge-carrito">
                                0 <!-- Aquí se actualizará el contador dinámicamente -->
                                <span class="visually-hidden">productos en el carrito</span>
                            </span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

<!--Navbar de las categorias-->
    <nav id="navbarcategorias" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Categorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productosPerro' %}">Perrunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productosGato' %}">Gatunos</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    🔥 ¡OBTÉN 10% DCTO!
                </span>
            </div>
        </div>
    </nav>
<!--Codigo para el carousel-->
    <section class="container mt-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/promo.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/promo2.png' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </section>
<!--Cards para poner los productos con sus respectivos precios-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for animales in productos %}
            <div class="col">
            <div class="card h-100">
                <img src="{{ animales.imagen.url }}" class="card-img-top" alt="{{animales.nombre}}">
                <div class="card-body">
                <h5 class="card-title">{{animales.nombre}}</h5>
                <p class="card-text">${{animales.precio}}</p>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{% url 'agregar_al_carrito' animales.id %}" class="btn btn-agregar-carrito me-3">Agregar al carrito</a>
                    <img src="{% static 'img/heart_fav.svg' %}" alt="favorito" class="heart-icon ms-2">
                </div>
                </div>
                <div class="card-footer">
                <small class="text-body-secondary">Hace {{ animales.minutos }} minutos</small>
                </div>
            </div>
        </div>
        {% endfor %}   
        </div>

    <!--Pie de pagina del sitio web-->
    <footer class="footer py-3">
        <div class="row">
            <!-- Sección sobre nosotros -->
            <div class="col-md-4">
                <div class="about-us">
                    <h5>Sobre nosotros</h5>
                    <p>PetAmigos es la tienda en línea líder para todos los amantes de las mascotas. Ofrecemos una amplia gama de productos para todas las necesidades de tus amigos peludos.</p>
                </div>
            </div>
            <!-- Sección enlaces útiles -->
            <div class="col-md-4 text-center">
                <h5 class="mb-3">Enlaces útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'QuienesSomos' %}">Sobre nosotros</a></li>
                    <li><a href="{% url 'ayuda' %}">Ayuda</a></li>
                    <li><a href="{% url 'informacion' %}">Información</a></li>
                </ul>
            </div>
            <!-- Sección de redes sociales -->
            <div class="col-md-4 text-center">
                <h5 class="mb-3">Síguenos</h5>
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <a href="#" class="mb-2"><img src="{% static 'img/twitter.svg' %}" alt="Twitter" class="social-icon"></a>
                    <a href="#"><img src="{% static 'img/instagram.svg' %}" alt="Instagram" class="social-icon"></a>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <p>&copy; 2024 PetAmigos. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>


    <script>
        const moonIconPath = "{% static 'img/moon-solid.svg' %}";
        const sunIconPath = "{% static 'img/sun-solid.svg' %}";
    </script>   

<script src="{% static 'js/agregarProductos.js' %}"></script>
<script src="{% static 'js/cambiarModoOscuro.js' %}"></script>       
<script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
