<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quienes somos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_quienesSomos.css' %}">


</head>
<body>

<!--Encabezado del sitio web-->
    <section class="container-mt-4">
        <header>
            <h5>Bienvenidos a nuestra pagina ¿Quieres saber quienes somos?</h5>
            <a href="{% url 'QuienesSomos' %}">Presiona aquí para conocernos</a> 
            <a href="{% url 'ayuda' %}">Sección de ayuda</a>  
            <a href="{% url 'informacion' %}">Más de información</a>
        </header>
    </section>
<!--Navbar de la pagina web-->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a id="logo" class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/Logo.png' %}" width="45px" height="100px" alt="Logo">Pet Amigos
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="¿Qué productos estés buscando?" aria-label="Search">
                    <button id="btnsearch" class="btn btn-outline-dark" type="submit">
                        <img src="{% static 'img/search.svg' %}" alt="buscar">
                    </button>
                </form>

                <li id="moon-dark" class="nav-item">
                    <a id="darkModeToggle" class="nav-link active" href="javascript:void(0)">
                        <img id="darkModeIcon" src="{% static 'img/moon-solid.svg' %}" alt="Modo Oscuro" style="width: 24px; height: 24px;">
                        <span id="modeToggleText" style="margin-left: 5px;">Modo Oscuro</span>
                    </a>
                </li>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="sesion" class="nav-link active" aria-current="page" href="{% url 'inicioDeSesion' %}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'favoritos' %}">
                            <img src="{% static 'img/heart.svg' %}" alt="favoritos">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'ver_carrito' %}">
                            <img src="{% static 'img/shopping-cart.svg' %}" alt="compras">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--Navbar de las categorias-->
    <nav id="navbarcategorias" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Categorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productosPerro' %}">Perrunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productosGato' %}">Gatunos</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    🔥 ¡OBTÉN 10% DCTO!
                </span>
            </div>
        </div>
    </nav>
<!--Contendor para informar de quienes somos-->
    <div id="imgNosotros" class="card text-bg-dark"">
        <img src="{% static 'img/nosotros.jpg' %}" class="card-img" alt="seccionNosostros">
    </div>
<!--Contendor para informar de quienes somos-->
    <div class="container">
        <div id="quienesSomos">
            <h2><b>¿Quiénes somos?</b></h2>
            <p>Somos una familia dedicada a cambiar vidas. Cada compra en nuestra tienda solidaria es un paso hacia un mundo donde todos los animales son valorados y protegidos.</p>
            <ul>
                <li>👉Seleccionamos cuidadosamente los productos que ofrecemos, priorizando aquellos que están hechos con ingredientes naturales y saludables para las mascotas.</li>
                <li>👉Invertimos en investigación y desarrollo para crear nuevos productos que promuevan la salud y el bienestar de las mascotas.</li>
                <li>👉Proporcionamos información clara y transparente sobre los ingredientes y el origen de los productos para que los dueños de mascotas puedan tomar decisiones informadas sobre lo que están comprando.</li>
                <li>👉Ofrecemos recursos educativos y consejos sobre cuidado animal para ayudar a los dueños de mascotas a tomar decisiones saludables y bien informadas sobre la alimentación y el cuidado de sus animales.</li>
                <li>👉Nos comprometemos a garantizar la seguridad de los productos que venden, realizando pruebas de calidad y asegurándose de cumplir con las regulaciones y estándares de la industria.</li>
                <li>👉Participamos en iniciativas de responsabilidad social corporativa, como donaciones a refugios de animales o programas de rescate, para apoyar a los animales necesitados en la comunidad.</li>
            </ul>
        </div>
    </div>

    <div class="titulo">
        <h1>Nuestro equipo</h1>
    </div>
    <div id="card-equipo" class="row row-cols-1 row-cols-md-3 g-4" style="width: 80%;">
        <div class="col">
        <div class="card h-100">
            <img src="{% static 'img/Leyton.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Miguel Leyton</h5>
                <p class="card-text"><b>Cargo:</b> Representante de Ventas de la ONG "PetAmigos" 
                    <br>
                    <br>
                    Con su habilidad para conectar con las personas y su compromiso con la causa, promueve productos y servicios que benefician a nuestros amigos peludos.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"></small>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="{% static 'img/Saez.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Alexander Saez</h5>
                <p class="card-text"><b>Cargo:</b> Coordinador de Desarrollo de Alianzas en ONG de Protección Animal 
                    <br>
                    <br>
                    Como Coordinador de Desarrollo de Alianzas, 
                    aprovecha su experiencia en relaciones públicas y su pasión por la causa animal para establecer colaboraciones 
                    significativas con empresas y organizaciones afines.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"></small>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img src="{% static 'img/Jimenez.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diego Jimenez</h5>
                <p class="card-text"><b>Cargo:</b> Gerente de Desarrollo de Programas en ONG de Bienestar Animal 
                    <br>
                    <br>
                    Como Gerente de Desarrollo de Programas, fusiona su profunda comprensión de las necesidades de los animales con su experiencia en gestión de proyectos 
                    para diseñar e implementar programas innovadores que impactan positivamente en la comunidad. 
                </p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"></small>
            </div>
        </div>
        </div>
    </div>

    

<!--Pie de pagina del sitio web-->
    <footer class="footer py-3">
        <div class="container-fluid">
            <div class="row">
                <!-- Sección sobre nosotros -->
                <div class="col-md-4">
                    <div class="about-us">
                        <h5>Sobre nosotros</h5>
                        <p>PetAmigos es la tienda en línea líder para todos los amantes de las mascotas. Ofrecemos una amplia gama de productos para todas las necesidades de tus amigos peludos.</p>
                    </div>
                </div>
                <!-- Sección enlaces útiles -->
                <div class="col-md-4 text-center">
                    <h5 class="mb-3">Enlaces útiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'QuienesSomos' %}">Sobre nosotros</a></li>
                        <li><a href="{% url 'ayuda' %}">Ayuda</a></li>
                        <li><a href="{% url 'informacion' %}">Información</a></li>
                        
                    </ul>
                </div>
                <!-- Sección de redes sociales -->
                <div class="col-md-4 text-center">
                    <h5 class="mb-3">Síguenos</h5>
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <a href="#" class="mb-2"><img src="{% static 'img/twitter.svg' %}" alt="Twitter" class="social-icon"></a>
                        <a href="#"><img src="{% static 'img/instagram.svg' %}" alt="Instagram" class="social-icon"></a>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <p>&copy; 2024 PetAmigos. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

    
    

    <script>
        const moonIconPath = "{% static 'img/moon-solid.svg' %}";
        const sunIconPath = "{% static 'img/sun-solid.svg' %}";
    </script>  

    <script src="{% static 'js/cambiarModoOscuro.js' %}"></script>   
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>